<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MicroServiceApp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/app/css/micro-service-app.min.css" asp-append-version="true" />
    </environment>
</head>
<body ng-view ng-controller="appController">
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper">
         <div id="right-sidebar" class="sidebar-open" style="left: 0; top: 0;">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li ng-class="{active: (Sidetab==1)}">
                    <a ng-click="tab = 1" ng-init="Sidetab = 1"> Collections </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" ng-if="Sidetab==1" ng-class="{active: (Sidetab==1)}">
                    <div class="sidebar-title">
                        <div class="row">
                            <div class="pull-right">
                                <button data-ng-click="showPopup('add-module');" type="button" class="btn btn-outline btn-info"> + </button>
                            </div>
                            <div class="input-group col-xs-10">
                                <input type="text" placeholder="Search issue by name..." class=" form-control">
                            </div>
                        </div>
                    </div>
                    <div>
                        <apis-list></apis-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Page wraper -->
        <div id="page-wrapper row" class="gray-bg @ViewBag.SpecialClass" style=" margin-left: 266px;">
            <!-- Main view  -->
            @RenderBody()
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->

    <environment names="Development">
        <script data-main="js/require-configs" src="~/lib/require.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/app/js/micro-service-app.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
